.one {
top: 0px;
left: 0px;
width: 1450px;
height: 650px;
background: transparent url('pics/Group\ 94.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.menu {
margin-top: 32px;
font-family: 'Montserrat', sans-serif;
height: 19px;
text-align: left;
font: normal normal normal 16px/19px Montserrat;
letter-spacing: 19;
opacity: 1;
}
ul.menu li.nav-item a.nav-link {
color: #222222;
}
ul.menu li.nav-item:nth-child(6) {
position: relative;   
}
.quote-1 {
width: 379px;
height: 88px;
text-align: left;
margin-left: 130px;
margin-top: 200px;
font: normal normal normal 36px/44px Montserrat;
letter-spacing: 0px;
color: #444444;
opacity: 1;
}
.quote-2 {
width: 374px;
margin-left: 130px;
height: 38px;
text-align: left;
font: normal normal normal 16px/19px Montserrat;
letter-spacing: 0px;
color: #222222;
opacity: 1;
}
.turtle {
position: absolute;
margin-left: 0px;
margin-top: 100px;
width: 650px;
height: 684px;
transform: matrix(0.99, -0.14, 0.14, 0.99, 0, 0);
background: transparent url('pics/Hawksbill\ Turtle.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.turtle:hover { 
animation-name: turtle; 
animation-duration: 2s; 
animation-iteration-count: infinite; 
animation-timing-function: infinite-ease-in-out; 
margin-left: 30px; 
margin-top: 5px; 
} 
@keyframes turtle { 
0% { transform: translate(0, 0px); } 
50% { transform: translate(0, 40px); } 
100% { transform: translate(0, -0px); }	 
} 
.bubble {
animation-name: bubble; 
animation-duration: 2.5s; 
animation-iteration-count: infinite; 
animation-timing-function: infinite-ease-in;  
}
@keyframes bubble { 
0% { transform: translate(0, 0px); } 
50% { transform: translate(0, 15px); } 
100% { transform: translate(0, -0px); }	 
  } 
.drop-1 {
width: 35px;
height: 32px;
text-align: right;
background: transparent url('pics/Path\ 261.png') 0% 0% no-repeat padding-box;
margin-top: 500px;
border-radius: 18px;
opacity: 1;
}
.grid-1 {
display: grid;
grid-template-columns: auto auto auto auto;
grid-gap: 0px;
padding: 0px;
float: left;
}
.sub-1 {
margin-left: 10px;
top: 130px;
width: 293px;
height: 45px;
position: absolute;
text-align: left;
font: normal normal bold 37px/45px Montserrat;
letter-spacing: 0px;
color: #414141;
opacity: 1;
}
.sub-2 {
top: 190px;
margin-left: 86px;
width: 567px;
height: 81px;
position: absolute;
text-align: left;
font-family: 'Meddon', cursive;
font-size: 26px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.shadow {
margin-top: 120px;
margin-left: 0%;
position: relative;
width: 770px;
height: 667px;
transform: matrix(1, -0.05, 0.05, 1, 0, 0);
background: transparent url('pics/Hawksbill-Turtle-shadow.png') 0% 0% no-repeat padding-box;
opacity: 0.33;
}
.image-1 {
margin-top: 100px;
margin-left: 200px;
width: 560px;
height: 602px;
background: transparent url('pics/Mask\ Group\ 8.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.two {
position: relative;
height: auto;
}
.three {
margin-top: 200px;
}
.content {
margin-top: 853px;
left: 894px;
width: 482px;
height: 211px;
text-align: left;
font-family: 'Montserrat', sans-serif;
font: normal normal normal 16px/24px Montserrat;
letter-spacing: 0px;
color: #4B4B4B;
opacity: 1;
}
.item-1 {
background-color: #FCF2F4;
width: 170px;
height: 170px;
border-radius: 17px;
}
.item-2 {
background-color: #F0F3F7;
width: 170px;
border-radius: 17px;
}
.item-3 {
background-color: #FAF4ED;
width: 170px;
border-radius: 17px;
}
.grid-2 {
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
}
.dog-toy {
margin-top: 10px;
margin-left: 42px;
width: 80px;
height: 80px;
border-radius: 38px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.dog-toy img {
margin-top: 20px;
margin-left: 20px;
}
.toy {
width: 28px;
height: 16px;
margin-top: 2rem;
margin-left: auto;
margin-right: auto;
font: normal normal normal 13px/16px Montserrat;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #444444;
opacity: 1;
}
.pet-bed {
margin-top: 10px;
margin-left: 45px;
width: 80px;
height: 80px;
border-radius: 38px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.pet-bed img {
margin-top: 23px;
margin-left: 20px;
}
.bedding {
width: 28px;
height: 16px;
margin-top: 2rem;
margin-left: 60px;
font: normal normal normal 13px/16px Montserrat;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #444444;
opacity: 1;
}
.outline {
margin-top: 10px;
margin-left: 45px;
width: 80px;
height: 80px;
border-radius: 38px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.outline img {
margin-top: 23px;
margin-left: 20px;
}
.feeding {
width: 28px;
height: 16px;
margin-top: 2rem;
margin-left: 60px;
font: normal normal normal 13px/16px Montserrat;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #444444;
opacity: 1;
}
.button {
font-family: 'Montserrat', sans-serif;
background-color: #F78AB8;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 19px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin-top: 40px;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.button:hover span {
padding-right: 25px;
}
.button:hover span:after {
opacity: 1;
right: 0;
}
.four {
z-index: -1;
margin-top: -100px;
width: 300px;
height: 450px;
position: absolute;
height: 670px;
background: #FCF2F4 0% 0% no-repeat padding-box;
opacity: 1;
}
h3 {
position: relative;
margin-left: 50px;
top: 100px;
width: 415px;
height: 37px;
font-family: 'Montserrat', sans-serif;
text-align: left;
font: normal normal normal 30px/37px Montserrat;
letter-spacing: 0px;
color: #4B4B4B;
opacity: 1;
}
.content-2 {
margin-top: 120px;
margin-left: 50px;
width: 515px;
height: 206px;
text-align: left;
font: normal normal normal 16px/24px Montserrat;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #4B4B4B;
opacity: 1;
}
.content-3 {
margin-top: 120px;
margin-left: 50px;
width: 685px;
height: 206px;
text-align: left;
font: normal normal normal 16px/24px Montserrat;
font-family: 'Montserrat', sans-serif;
letter-spacing: 0px;
color: #4B4B4B;
opacity: 1;
}
.image-2 {
margin-top: 110px;
margin-left: 270px;
width: 565px;
height: 565px;
background: transparent url('pics/Mask\ Group\ 9.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.see-more {
width: max-content;
margin-left: 740px;
top: 610px;
position: absolute;
}
.flex-container {
display: inline-flex;
flex-direction: row;
flex-wrap: nowrap;
padding: 10px;
-webkit-flex-flow: row nowrap;
-ms-flex-flow: row nowrap;
flex-flow: row nowrap;
}
.flex-container > div {
background-color: #FFFFFF;
margin: 8px;
top: auto;
text-align: center;
width: 150px;
height: 100px;
padding: 20px;
}
.head-1 {
font-size: 30px;
width: auto;
}
.five {
position: absolute;
margin-top: 60px;
width: 494px;
height: 382px; 
z-index: -1;
background-color: #E9F1F5;
margin-left: 278px;
}
.six {
margin-top: 100px;
margin-left: 70px;
width: 606px;
}
.head-2 {
position: absolute;
font-size: 44px;
font-family: 'Meddon', cursive;
margin-top: 100px;
color: #FFFFFF;
left: 260px;
}
#container {
background-color: #93C69E; 
opacity: 100%; 
height: 732px; 
margin-top: 100px;
position: relative;
}
.head-3 {
margin-top: 100px;
left: 500px;
color: #FFFFFF;
}
.content-4 {
font-family: 'Montserrat', sans-serif;
color: #FFFFFF;
text-align: center;
margin-top: 150px;
margin-left: 270px;
margin-right: 270px;
}
.head-4 {
color: #FFFFFF;
margin-left: 500px;
margin-top: 3rem;
}
.head-4 a:hover {
text-shadow: 2px 2px 10px #000000;
filter: dropshadow(color=#000000, offx=2, offy=2);
}
.seven {
margin-left: 35px;
} 
.content-5 {
margin-top: 100px;
font: normal normal normal 12px/32px Montserrat;
letter-spacing: 0px;
font-family: 'Montserrat', sans-serif;
color: #989898;
opacity: 1;
}
.head-5 {
text-align: left;
font-family: 'Montserrat', sans-serif;
font: normal normal bold 14px/32px Montserrat;
letter-spacing: 0px;
color: #989898;
opacity: 1;
}
ul.list {
list-style-type: none;
margin-left: -40px;
}
ul.list li:nth-child(n-1) {
margin-bottom: 16px;
}
.content-6 {
text-align: right;
padding-right: 1rem;
font-family: 'Montserrat', sans-serif;
color: #989898;
font-size: 14px;
}
.head-5 a {
line-height: 10px;
}
footer {
margin-top: 100px;
margin-bottom: 85px;
}
